<a href="https://colab.research.google.com/github/swethanjali24/gpt-bot/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1) Basic Operations"
a=10
b=10.2
c='First Assignment'
Able_to_do_first_Assignment=True
print('a:',a, 'type:',type(a))
print('b:',b, 'type:',type(b))
print('c:',c, 'type:',type(c))
print('Able_to_do_first_Assignment:',Able_to_do_first_Assignment, 'type:',type(Able_to_do_first_Assignment))

a: 10 type: <class 'int'>
b: 10.2 type: <class 'float'>
c: First Assignment type: <class 'str'>
Able_to_do_first_Assignment: True type: <class 'bool'>

In [ ]:

# 2) List operations

a=[1,2,3,4,5,6,7,8,9,10]
print('a:',a, 'type:',type(a))
a.append(11)
print(a)
a.remove(3)
print(a)
del a[1:2]
print(a)
a.pop(2)
slice=a[2:5]
print(slice)
a=[1,2,3,4,5,6,7,8,9,10]
def even(x):
 if (x%2==0):
  return x
even_numbers=list(filter(even,a))
print(even_numbers)

a: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] type: <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 4, 5, 6, 7, 8, 9, 10, 11]
[6, 7, 8]
[2, 4, 6, 8, 10]

In [ ]:
#Tuple operations
a=(1,2,3,4,5,6,7,8,9,10)
print('a:',a, 'type:',type(a))
a[0]=1
print(a)
x,*y,z = a
print(x)
print(y)
print(z)

a: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) type: <class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [ ]:
a=(1,2,3,4,5,6,7,8,9,10)
print('a:',a, 'type:',type(a))
x,*y,z = a
print(x)
print(y)
print(z)

a: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) type: <class 'tuple'>
1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [ ]:
#dictionaries
d1 = {
    1 : 'List',
    2 : 'Tuples',
    3 : 'Set',
    4 : 'Dictionary'
}
print('Dictionary :', d1)
print('Type :', type(d1))
print('Keys :', d1.keys())
print('Values :', d1.values())
d1[5] = 'String'
print(d1)
d1[1] = 'Integer'
print(d1)
del d1[3]
print(d1)
key,value=d1.popitem()
print(key)
print(value)
print(d1)
for key,value in d1.items():
    print(f'{key}:{value}')

Dictionary : {1: 'List', 2: 'Tuples', 3: 'Set', 4: 'Dictionary'}
Type : <class 'dict'>
Keys : dict_keys([1, 2, 3, 4])
Values : dict_values(['List', 'Tuples', 'Set', 'Dictionary'])
{1: 'List', 2: 'Tuples', 3: 'Set', 4: 'Dictionary', 5: 'String'}
{1: 'Integer', 2: 'Tuples', 3: 'Set', 4: 'Dictionary', 5: 'String'}
{1: 'Integer', 2: 'Tuples', 4: 'Dictionary', 5: 'String'}
5
String
{1: 'Integer', 2: 'Tuples', 4: 'Dictionary'}
1:Integer
2:Tuples
4:Dictionary

In [ ]:
#Sets
a=set([1,2,3,4,5,6,7,8,9,10])
print('a:',a, 'type:',type(a))
b={1,2,3,4}
print('b:',b, 'type:',type(b))
c=a.union(b)
print(c)
d=a.intersection(b)
print(d)
e=a.difference(b)
print(e)
x={1,1,2,22,2}
print(x)

a: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} type: <class 'set'>
b: {1, 2, 3, 4} type: <class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4}
{5, 6, 7, 8, 9, 10}
{1, 2, 22}

In [ ]:
#conditional statements
a=10
if a>5:
  print('a is greater than 5')
else:
  print('a is less than 5')
b=10
if b>5:
  print('b is greater than 5')
elif b<5:
  print('b is less than 5')
else:
  print('b is equal to 5')

a is greater than 5
b is greater than 5

In [ ]:
#Loops in data structures
q=[1,2,3,4,]
for i in q:
  print(i)
a=(1,2,3,4)
for i in a:
  print(i)
b={1,2,3,4}
for i in b:
  print(i)
d1 = {
    1 : 'List',
    2 : 'Tuples',
    3 : 'Set',
    4 : 'Dictionary'
}
for key,value in d1.items():
  print(f'{key}:{value}')

q=[1,2,3,4]
i=1
while i<=max(q):
  i+=1
  if i==3:
   continue
  print(i)

1
2
3
4
1
2
3
4
1
2
3
4
1:List
2:Tuples
3:Set
4:Dictionary
2
4
5

In [ ]:
#problem solving tasks
#P1.program to find the largest number in the list

a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
  if i==max(a):
   print(i)

10

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=max(a)
print(b)

10

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(max(a))

10

In [ ]:
#Program to find the frequency of elements in the list
a=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]
frequency={}
for i in a:
  if i in frequency:
    frequency[i]+=1
  else:
    frequency[i]=1
for key,value in frequency.items():
  print(f'{key}:{value}')

1:2
2:2
3:2
4:2
5:2
6:2
7:2
8:2
9:2
10:2

In [ ]:
#student with highest marks
Class_x={'Arpit':84,'priyansh':90,'sheik':92,'swetha':99}
for key,value in Class_x.items():
  if value==max(Class_x.values()):
    print(f'{key}:{value}')

swetha:99

In [ ]:
#fibonnaci series upto 20
x=0
y=1
while x<20:
  print(x)
  z=x+y
  x=y
  y=z

0
1
1
2
3
5
8
13

In [ ]:
# to remove duplicate elements from the list
a=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]
b=set(a)
print(b)
c=list(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]